/WebAPI/CircleInnovation.API/.vs
/WebAPI/CircleInnovation.API/CircleInnovation.API/obj
/WebAPI/CircleInnovation.API/CircleInnovation.API/packages.config
/WebAPI/CircleInnovation.API/CircleInnovation.API/bin
/WebAPI/CircleInnovation.API/CircleInnovation.DataProvider/obj
/WebAPI/CircleInnovation.API/CircleInnovation.DataProvider/packages.config
/WebAPI/CircleInnovation.API/CircleInnovation.DataProvider/bin
/WebAPI/CircleInnovation.API/CircleInnovation.Helper/packages.config
/WebAPI/CircleInnovation.API/CircleInnovation.Helper/bin
/WebAPI/CircleInnovation.API/CircleInnovation.Helper/obj
/WebAPI/CircleInnovation.API/CircleInnovation.Interface/bin
/WebAPI/CircleInnovation.API/CircleInnovation.Interface/obj
/WebAPI/CircleInnovation.API/CircleInnovation.Model/bin
/WebAPI/CircleInnovation.API/CircleInnovation.Model/obj
/WebAPI/CircleInnovation.API/CircleInnovation.Service/bin
/WebAPI/CircleInnovation.API/CircleInnovation.Service/obj
/WebAPI/CircleInnovation.API/CircleInnovation.Service/packages.config
